<body>
    <main>

        <div id="video">
            <video 
            class="video"
            width="1080" height="480" 
                   src="/{{currentPost.video}}" 
                   controls type="video/webm">
            </video>
        </div>
        <article id="post" class="post">
            <div class="break"></div>

            <p id="post_title" class="post-title">{{currentPost.title}}</p>
            <section id="post_details" class="details-box">
                <p id="author" class="post-details"> <em>Author: {{currentPost.username}}</em></p>
                <p id="creation_time" class="post-details">
                    <em>
                        Creation Time: {{formatDateString currentPost.datePosted}}
                    </em>
                </p>
            </section>

            <div class="description-box"> Description
                <section class="description">
                    {{currentPost.description}}
                </section>
            </div>
        </article>

        <div class="break"></div>

        <article class="comment-group">
            <section class="enter-comment">
                <input type="text" 
                id="comment-field" 
                class="comment-field" 
                autocomplete="off"
                name="comment-field"
                placeholder="Add Comment">
                <div class="">
                    <button type="submit" class="submit-comment" 
                        id="submit-comment"
                        data-postid="{{currentPost.id}}">Submit</button>
                </div>

            </section>
            <section id = "comment-section" class="comment-section">
                {{#each currentPost.comments}}
                {{> comment}}
                {{/each}}
            </section>

            <div class="break"></div>

            <script>
                //Clear text area

                //Comment submit
                document.getElementById('submit-comment').addEventListener('click', function (ev) {
                    var commentText = document.getElementById("comment-field").value;

                    if (!commentText) return;
                    //Custom attribute retrieval, can see the post comment section belongs too
                    var postId = ev.currentTarget.dataset.postid;

                    //Fetch fields from frontend and send to server as JSON
                    fetch("/comments/create/",
                        {
                            method: "POST",
                            headers:
                            {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(
                                {
                                    postId: postId,
                                    comment: commentText
                                })
                        }).then(response => response.json())
                        .then(data => { // Update comments to frontend
                            console.log(data);
                            var comments = document.getElementById('comment-section');
                            let commentFragment = document.createElement('template');
                            commentFragment.innerHTML = 
                            `<section class="comment wrapper">
                                <div class = "comment-details" id="comment">
                                    <strong>
                                        <em class = "comment-author">@${data.username}</em>
                                    </strong>
                                    
                                    <p class="comment-date"><em>${(new Date()).toLocaleString(
                                    "en-us", {
                                        dateStyle: "long",
                                        timeStyle: "medium"
                                    }
                                    )}</em></p>
                                </div>
                                <div class = "comment-text">${data.comment}</div>
                            </section>;`
                            comments.append(commentFragment.content.firstChild);
                            

                        }).catch(err => console.log(err));

                        
                });

            </script>
        </article>

    </main>
</body>

</html>