<body>
    <main>
        <video width="720" height = "480" 
        src= "/{{currentPost.video}}" 
        controls type="video/webm"></video>
        
        <article id="post">
            <h2 id="post_title">{{currentPost.title}}</h2>
            <section id="post_details">
                <p id="author">Author: {{currentPost.username}}</p>
                <p id="creation_time">Creation Time: {{currentPost.datePosted}}</p>
                <div id="video"></div>
            </section>
        </article>
        {{log this}}
        <article>
            <input type="text" class="comment-field">
            <section>
                {{#each currentPost.comments}}
                    {{> comment}}
                {{/each}}
            </section>
        </article>

    </main>
</body>
</html>