<body>
    <main>
        <video width="720" height="480" src="/{{currentPost.video}}" controls type="video/webm"></video>

        <article id="post">
            <h2 id="post_title">{{currentPost.title}}</h2>
            <section id="post_details">
                <p id="author">Author: {{currentPost.username}}</p>
                <p id="creation_time">Creation Time: {{formatDateString currentPost.datePosted}}</p>
                <div id="video"></div>
            </section>
        </article>
        <article class="comment-group">
            <textarea id="comment-field" class="comment-field" autocomplete="off"></textarea>
            <button type="submit" class="submit-comment" id="submit-comment"
                data-postid="{{currentPost.id}}">Submit</button>

            <section id = "comment-section" class="comment-section">
                {{#each currentPost.comments}}
                {{> comment}}
                {{/each}}
            </section>

            <script>
                //Clear text area

                document.getElementById('submit-comment').addEventListener('click', function (ev) {
                    var commentText = document.getElementById("comment-field").value;

                    if (!commentText) return;
                    var postId = ev.currentTarget.dataset.postid;

                    //Fetch fields from frontend and send to server as JSON
                    fetch("/comments/create/",
                        {
                            method: "POST",
                            headers:
                            {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(
                                {
                                    postId: postId,
                                    comment: commentText
                                })
                        }).then(response => response.json())
                        .then(data => { // Update comments to frontend
                            console.log(data);
                            var comments = document.getElementById('comment-section');
                            let commentFragment = document.createElement('template');
                            commentFragment.innerHTML = 
                            `<div class = "comment" id="comment">
                                <strong class = "comment-author">${data.username}</strong>
                                <span class="commennt-date">${(new Date()).toLocaleString(
                                    "en-us", {
                                        dateStyle: "long",
                                        timeStyle: "medium"
                                    }
                                    )}</span>
                                <div class = "comment-text">${data.comment}</div>
                            </div>`;
                            comments.append(commentFragment.content.firstChild);
                            

                        }).catch(err => console.log(err));

                        
                });

            </script>
        </article>

    </main>
</body>

</html>